input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: .5s ease;
}

a.active {
    color: #a8a8a8;
}

a:hover {
    color: #a8a8a8;
}

button {
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    background: #c2c2c2;
}

.Header {
    width: 100%;
    height: 5vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar a:not(:last-child) {
    margin-right: 20px;
}

.Content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Registrtion, .Login {
    padding: 0px 100px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Authorization {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Authorization input {
    outline: none;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.Authorization input:hover {
    outline: none;
}

.Authorization button {
    outline: none;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 20px;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}


.Start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile_info {
    padding-bottom: 20px;
}

.Start button {
    background: #c72222;
    border: none;
    padding: 10px 25px;
    font-size: 26px;
    color: white;
    border-radius: 5px;
}

.Start button:hover {
    background: #a61414;
}

option {
    border-radius: 0;
    background: #ffffff;
}

.Select {
    border: none;
    padding: 10px 20px;
    background: #c7c7c7;
    border-radius: 2px;
    outline: none;
    margin-bottom: 50px;
    transition: .3s ease;
}

.redirect {
    color: black;
}

.Game {
    text-transform: uppercase;
    color: #6e6e6e;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease;
}

.Game h1 {
    text-transform: none;
    margin-bottom: 45px;
}

.Game > div {
    margin-bottom: 15px;
}

.SetAnswer {
    display: flex;
    flex-direction: column;
}

.SetAnswer input {
    margin-bottom: 10px;
    outline: none;
    padding: 3px 5px;
    color: #606060;
}

.SetAnswer button {
    padding: 10px 5px;
    color: #606060;
}

.Black {
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    color: #3b3b3b;
}

.Option {
    border: 1px solid gray;
    border-radius: 4px;
    background: #ffffff;
    padding: 10px 20px;
    color: #6e6e6e;
    font-weight: bold;
}

.Option:not(:last-child) {
    margin-right: 20px;
}

.back {
    padding: 15px 25px;
}

.Result {
    margin-top: 15px;
}
.Table {
    width: 420px;
    border-collapse: collapse;
    text-transform: none;
}

.Table td {
    padding: 5px;
}

.Table td {
    border-top: 1px solid #dddddd;
    padding: 7px 5px;
}

.Table tr:first-child {
    margin-bottom: 20px;
}

.Table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

.Table tr td:first-child, .Table tr th:first-child {
    border-left: none;
}
.Table tr td:last-child, .Table tr th:last-child {
    border-right: none;
}

.Field {
    background: #ffffff;
    text-align: center;
}

.Field:hover {
    background: #e3e3e3;
}

.InfoScore, .Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoScore h1, .InfoScore h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: none;
}

.Info h1, .Info h2 {
    margin-bottom: 0px;
    text-transform: none;
}

.End {
    font-weight: bold;
}


